Specialization.xsd

<?xml version="1.0" encoding="WINDOWS-1251"?> 
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"> 
	<xs:element name="Specialization"> 
		<xs:complexType> 
			<xs:sequence> 
				<xs:element name="University" maxOccurs="unbounded"> 
					<xs:complexType mixed="true"> 
						<xs:sequence> 
							<xs:element name="Name" type="xs:string"/> 
							<xs:element name="Mark" type="xs:integer"/> 
							<xs:element name="Students" type="xs:integer"/> 
							<xs:element name="City" type="xs:string"/> 
						</xs:sequence> 
					</xs:complexType> 
				</xs:element> 
			</xs:sequence> 
		</xs:complexType> 
	</xs:element> 
</xs:schema> 